<div class="card w-50 m-5 shadow" id="{{user_id}}">
  <div class="card-body">
    <input type="text" class="form-control m-1 input-bar" id="blog-title" placeholder="Enter title...">
  </div>
  <div class="card-body row">
    <div class="col-12">
      <textarea id="description" class="form-control m-1 input-bar" name="" id="" cols="30" rows="10"></textarea>
    </div>
    <div class="d-flex justify-content-between">
      <div>
        <button class="btn btn-secondary m-1" id="public">Public</button>
        <button class="btn btn-secondary m-1" id="private">Private</button>
      </div>
      <div>
        <button type="Save" class="btn btn-success m-1" id="submit">Submit</button>
      </div>
    </div>
  </div>
</div>

<script src="/js/createPost.js"></script>